<header class="header">
  <div class="container">
    <div class="header__mob">
      <div class="header__mob-wrapper">
        <div class="logo-wrapper">
          <a href="index.html" class="logo-link">
            <svg class="logo-link__icon">
              <use href="img/sprite.svg#icon-simko-lab__logo"></use>
            </svg>
            <p class="logo-link__text">СОВРЕМЕННАЯ ЦИФРОВАЯ ЛАБОРАТОРИЯ</p>
          </a>
        </div>
        <div class="social-wrapper">
          <ul class="social-list">
            <li class="social-list__item">
              <a href="tel:79031747378" class="social-item__link social__whatsappp" target="_blank"> </a>
            </li>
            <li class="social-list__item">
              <a href="tel:+74959882660" class="social-item__link phone-icon__link">
                <svg class="icon-phone">
                  <use href="img/sprite.svg#icon-phone"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-burger">
          <span></span>
        </div>
        <div class="header-menu">
          <ul class="menu-list">
            <li class="menu-list__item">
              <a href="#about-laboratory" class="menu-link anchor">О лаборатории</a>
            </li>
            <li class="menu-list__item">
              <a href="#services-price" class="menu-link anchor">Услуги</a>
            </li>
            <li class="menu-list__item">
              <a href="#work-examples" class="menu-link anchor">Примеры работ</a>
            </li>
            <li class="menu-list__item">
              <a href="#equipment-technologies" class="menu-link anchor">Оборудование</a>
            </li>
            <li class="menu-list__item">
              <a href="#our-team" class="menu-link anchor">Команда</a>
            </li>
            <li class="menu-list__item">
              <a href="#our-partners" class="menu-link anchor">Партнеры</a>
            </li>
            <li class="menu-list__item">
              <a href="#reviews" class="menu-link anchor">Отзывы</a>
            </li>
            <li class="menu-list__item">
              <a href="#contacts" class="menu-link anchor">Контакты</a>
            </li>
          </ul>
          <div class="contacts-wrapper">
            <a href="mailto:info@simkolab.ru" target="_blank" class="mail">
              <svg class="svg-icon icon-mail">
                <use href="img/sprite.svg#icon-mail"></use>
              </svg>
              info@simkolab.ru
            </a>
            <a href="tel:79031747378" target="_blank" class="whatsapp">
              <svg class="svg-icon icon-whatsapp__grey">
                <use href="img/sprite.svg#icon-whatsapp__grey"></use>
              </svg>
              +7(903)174-73-78</a
            >
            <a href="tel:74959882660" target="_blank" class="phone">
              <svg class="svg-icon icon-phone">
                <use href="img/sprite.svg#icon-phone"></use>
              </svg>
              +7(495)988-26-60
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__desktop">
      <div class="header__desktop-wrapper">
        <div class="logo-wrapper">
          <a href="index.html" class="logo-link">
            <svg class="logo-link__icon">
              <use href="img/sprite.svg#icon-simko-lab__logo"></use>
            </svg>
            <p class="logo-link__text">СОВРЕМЕННАЯ ЦИФРОВАЯ ЛАБОРАТОРИЯ</p>
          </a>
        </div>
        <div class="header__desktop-inner">
          <div class="header__desktop-top">
            <div class="contacts-wrapper">
              <a href="mailto:info@simkolab.ru" target="_blank" class="mail">
                <svg class="svg-icon icon-mail">
                  <use href="img/sprite.svg#icon-mail"></use>
                </svg>
                info@simkolab.ru
              </a>
              <a href="tel:79031747378" target="_blank" class="whatsapp">
                <svg class="svg-icon icon-whatsapp__grey">
                  <use href="img/sprite.svg#icon-whatsapp__grey"></use>
                </svg>
                +7(903)174-73-78</a
              >
              <a href="tel:74959882660" target="_blank" class="phone">
                <svg class="svg-icon icon-phone">
                  <use href="img/sprite.svg#icon-phone"></use>
                </svg>
                +7(495)988-26-60
              </a>
            </div>
            <button type="button" class="button request-call">Заказать звонок</button>
          </div>
          <div class="header__desktop-bottom">
            <ul class="menu-list">
              <li class="menu-list__item">
                <a href="#about-laboratory" class="menu-link anchor">О лаборатории</a>
              </li>
              <li class="menu-list__item">
                <a href="#services-price" class="menu-link anchor">Услуги</a>
              </li>
              <li class="menu-list__item">
                <a href="#work-examples" class="menu-link anchor">Примеры работ</a>
              </li>
              <li class="menu-list__item">
                <a href="#equipment-technologies" class="menu-link anchor">Оборудование</a>
              </li>
              <li class="menu-list__item">
                <a href="#our-team" class="menu-link anchor">Команда</a>
              </li>
              <li class="menu-list__item">
                <a href="#our-partners" class="menu-link anchor">Партнеры</a>
              </li>
              <li class="menu-list__item">
                <a href="#reviews" class="menu-link anchor">Отзывы</a>
              </li>
              <li class="menu-list__item">
                <a href="#contacts" class="menu-link anchor">Контакты</a>
              </li>
            </ul>
            <div class="request-wrapper">
              <a href="tel:74959882660" target="_blank" class="phone">
                <svg class="svg-icon icon-phone">
                  <use href="img/sprite.svg#icon-phone"></use>
                </svg>
                +7(495)988-26-60
              </a>
              <button type="button" class="button request-call">Заказать звонок</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
